@font-face {
    font-family: lemon_Tea;
    src: url(../fonts/lemon_tea_3/Lemon\ Tea.ttf);
}
@font-face {
    font-family: amoria;
    src: url(../fonts/amoria/AMORIA.otf);
}



body{
    background-color: #f0f0f0;
    font-family: lemon_Tea ;
    margin: 0;
    padding: 0;
}

#startVideo{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: blur(6px) brightness(0.75);
  z-index: 0;
}

#startTitle{
    font-family: amoria;
    color: white;
    position: relative;
    top: 5vw;
    font-size: 5rem;
}

#startText{
    position: relative;
    top: 15vw;
    color: white;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

#startScreen{
    position: relative;
    top: 10vw;
    height: 40vh;
    transform: scale(1.4);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/startScreenLogo.png);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 2;
}
